{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- FONT -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>Home Page</title>
   <link rel="icon" href="{% static 'img/favicon.png'%}">
  </head>
  <body>
    <!-- navbar section -->
    <div class="navbarku" id="navbar">
      <div class="logo"><a href="">Hey you back.</a></div>
      <div
        class="mobile-menu-button"
        id="mobile-menu-button"
        onclick="tooglebtn1()"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="selection">
        <ul>
          <li>
            <a href="home.html" class="nav-select">Home</a
            ><span class="active"></span>
          </li>
          <li onmouseover="lineover(0)" onmouseout="lineout(0)">
            <a href="#about" class="nav-select">About</a
            ><span class="nav-line"></span>
          </li>
          <li onmouseover="lineover(1)" onmouseout="lineout(1)">
            <a href="#expertise" class="nav-select">Expertise</a
            ><span class="nav-line"></span>
          </li>
          <li onmouseover="lineover(2)" onmouseout="lineout(2)">
            <a href="/course" class="nav-select">Course</a
            ><span class="nav-line"></span>
          </li>
          <li onmouseover="lineover(3)" onmouseout="lineout(3)">
            <a href="#contact" class="nav-select">Contact</a
            ><span class="nav-line"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="big-nav" id="select">
      <div class="selection" onclick="tooglebtn1()">
        <a href="home.html">Home</a>
        <a href="#about">About</a>
        <a href="#expertise">Expertise</a>
         <a href="#layout.html">Course</a>
        <a href="#contact">Contact</a>
      </div>
    </div>
    <!-- endsection -->
    <!-- background 1 -->
    <section class="background1">
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
    </section>
    <!-- endsection -->
    <!-- section home -->
    <section class="home-greeting">
      <h1>BINTANG DOMINIQUE TJOKRO.</h1>
    </section>
    <!-- endsection -->
    <!-- section about-->
    <section class="about" id="about">
      <div class="gambar">
        <span>ABOUT ME.</span>
      </div>
      <div class="paragraph">
        <div class="background2">
          <span>HEYY.</span>
        </div>
        <p>
          Haloo semuaa!! Kenalin nama aku Bintang Dominique. Aku biasa dipanggil
          Bintang. Aku sekarang sedang berkuliah di salah satu universitas
          terbaik di Indonesia. Aku berkuliah di Universitas Indonesia. Disini
          aku banyak belajar. Mulai dari pelajaran kehidupan sampai ke
          pendidikan. Yuk ikuti kisah aku disini.
        </p>
        <div class="background2">
          <span>HEYY.</span>
        </div>
      </div>
      <div class="link" onclick="location.href='oke'">
        <span>MORE</span>
        <div class="arrow">
          <span></span>
          <span></span>
        </div>
      </div>
    </section>
    <!-- endsection -->
    <!-- section expertise -->
    <section class="expertise" id="expertise">
      <div class="header">EXPERTISE.</div>
     <div class="gallery">
        <div class="item" data-toggle="modal" data-target="#communication">
          COMMUNICATION
        </div>
        <div class="item" data-toggle="modal" data-target="#public">
          PUBLIC SPEAKING
        </div>
        <div class="item" data-toggle="modal" data-target="#teamwork">
          TEAMWORK
        </div>
        <div class="item" data-toggle="modal" data-target="#teamwork">
          TEAMWORK
        </div>
        <div class="item" data-toggle="modal" data-target="#teamwork">
          TEAMWORK
        </div>
        <div class="item" data-toggle="modal" data-target="#teamwork">
          TEAMWORK
        </div>
      </div>
      
      <div class="link" onclick="location.href='some'">
        <span>MORE</span>
        <div class="arrow">
          <span></span>
          <span></span> 
        </div>
      </div>
    </section>
    <!-- endsection -->
    <!-- Carosel Section -->
    <div class="pop-up">
      <div
        class="modal fade"
        id="communication"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">This is me</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li
                    data-target="#carouselExampleIndicators"
                    data-slide-to="0"
                    class="active"
                  ></li>
                  <li
                    data-target="#carouselExampleIndicators"
                    data-slide-to="1"
                  ></li>
                  <li
                    data-target="#carouselExampleIndicators"
                    data-slide-to="2"
                  ></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      class="d-block w-100"
                      src="{% static 'img/Screenshots/komunikasi.png' %}"
                      alt="First slide"
                    >
                  </div>
                  <div class="carousel-item">
                    <img
                      class="d-block w-100"
                      src="{% static 'img/Screenshots/komunikasi2.jpg' %}"
                      alt="Second slide"
                    >
                  </div>
                  <div class="carousel-item">
                    <img
                      class="d-block w-100"
                      src="{% static 'img/Screenshots/komunikasi3.jpg' %}"
                      alt="Third slide"
                    >
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#carouselExampleIndicators"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#carouselExampleIndicators"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="public"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">This is me</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div
                id="publiccarousel"
                class="carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li
                    data-target="#publiccarousel"
                    data-slide-to="0"
                    class="active"
                  ></li>
                  <li data-target="#publiccarousel" data-slide-to="1"></li>
                  <li data-target="#publiccarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      class="d-block w-100"
                      src="{% static 'img/Screenshots/public1.jpg' %}"
                      alt="First slide"
                    >
                  </div>
                  <div class="carousel-item">
                    <img
                      class="d-block w-100"
                      src="{% static 'img/Screenshots/public2.jpg' %}"
                      alt="Second slide"
                    >
                  </div>
                  <div class="carousel-item">
                    <img
                      class="d-block w-100"
                      src="{% static 'img/Screenshots/public3.jpg' %}"
                      alt="Third slide"
                    >
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#publiccarousel"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#publiccarousel"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="teamwork"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">This is me</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div
                id="teamworkcarousel"
                class="carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li
                    data-target="#teamworkcarousel"
                    data-slide-to="0"
                    class="active"
                  ></li>
                  <li data-target="#teamworkcarousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      class="d-block w-100"
                      src= "{% static 'img/Screenshots/tw1.png' %}"
                      alt = "First slide"
                    >
                  </div>
                  <div class="carousel-item">
                    <img
                      class="d-block w-100"
                      src="{% static 'img/Screenshots/tw2.png' %}"
                      alt="Second slide"
                    >
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#teamworkcarousel"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#teamworkcarousel"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- section footer -->
    <section class="footer" id="contact">
      <div class="email">
        <span
          >Email --
          <a
            href="https://mail.google.com/mail/?to=inbox@example.com&bcc=admin@example.com&subject=Hey#compose"
            >bintangdom19@gmail.com</a
          ></span
        >
      </div>
      <div class="socmed">
        <!-- {% static 'foto.jpg' %} -->
        <a href="https://www.linkedin.com/in/bintang-dominique-ba0667196/"
          ><img src="{% static 'img/linkedin.png' %}" alt=""
        /></a>
        <a
          href="https://twitter.com/KendallJenner?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
          ><img src="{% static 'img/twitter.png' %}" alt=""
        /></a>
        <a href="http://line.me/ti/p/markasyours"
          ><img src="{% static 'img/line.png' %}" alt=""
        /></a>
        <a href="https://api.whatsapp.com/send?phone=6282214014078"
          ><img src="{% static 'img/whatsap.png' %} " alt=""
        /></a>
        <a href="https://www.instagram.com/kendalljenner/?hl=en"
          ><img src="{% static 'img/instagram.png' %}" alt=""
        /></a>
      </div>
    </section>
    <!-- endsection -->
  </body>
  <script src="/style/navbar.js"></script>
  <script src="/style/scroll.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
