<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    {% block css %}

    {% endblock css %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.png'%}">
    <title>{% block tittle %}{% endblock tittle %}</title>
</head>
<body>
        <!-- navbar section -->
        <div class="navbarku {% if color == 'muda' %} muda {% elif color == 'blue'%} blue {% endif %}" id="navbar">
            <div class="logo"><a href="" {% if color == 'muda' or color == 'blue' %} class="text-white" {% endif %}>Hello.</a></div>
            <div class="mobile-menu-button" id="mobile-menu-button" onclick="tooglebtn1()">
                <span {% if color == 'muda' or color == 'blue' %} class="white" {% endif%}></span>
                <span {% if color == 'muda' or color == 'blue' %} class="white" {% endif %}></span>
                <span {% if color == 'muda' or color == 'blue' %} class="white" {% endif%}></span>
            </div>
            <div class="selection">
                {% if color == 'none' %}
                <ul>
                    <li><a href="{% url 'polls:index' %}" class="nav-select">Home</a><span class="active"></span></li>
                    <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="#about" class="nav-select">About</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="#expertise" class="nav-select">Expertise</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(2)" onmouseout="lineout(2)"><a href="{% url 'matakuliah:index' %}" class="nav-select">Course</a><span class="nav-line"></span></li> 
                    <li onmouseover="lineover(3)" onmouseout="lineout(3)"><a href="#contact" class="nav-select">Contact</a><span class="nav-line"></span></li>
                </ul>
                {% elif color == 'muda' %}
                <ul>
                    <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="{% url 'polls:index' %}" class="nav-select text-white">Home</a><span class="nav-line white"></span></li>
                    <li><a href="" class="nav-select text-white">About</a><span class="active white"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="{% url 'polls:blueKu' %}" class="nav-select text-white">Expertise</a><span class="nav-line white"></span></li>
                    <li onmouseover="lineover(2)" onmouseout="lineout(2)"><a href="{% url 'matakuliah:index' %}" class="nav-select text-white">Course</a><span class="nav-line white"></span></li>
                    <li onmouseover="lineover(3)" onmouseout="lineout(3)"><a href="#contact" class="nav-select text-white">Contact</a><span class="nav-line white"></span></li>
                </ul>
                {% elif color == 'blue'%}
                <ul>
                    <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="{% url 'polls:index' %}" class="nav-select text-white">Home</a><span class="nav-line white"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="{% url 'polls:mudaKu' %}" class="nav-select text-white">About</a><span class="nav-line white"></span></li>
                    <li><a href="" class="nav-select text-white">Expertise</a><span class="active white"></span></li>
                    <li onmouseover="lineover(2)" onmouseout="lineout(2)"><a href="{% url 'matakuliah:index' %}" class="nav-select text-white">Course</a><span class="nav-line white"></span></li>
                    <li onmouseover="lineover(3)" onmouseout="lineout(3)"><a href="#contact" class="nav-select text-white">Contact</a><span class="nav-line white"></span></li>
                </ul>
                {% else %}
                <ul>
                    <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="{% url 'polls:index' %}" class="nav-select">Home</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="{% url 'polls:mudaKu' %}" class="nav-select">About</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="{% url 'polls:blueKu' %}" class="nav-select">Expertise</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(2)" onmouseout="lineout(2)"><a href="{% url 'matakuliah:index' %}" class="nav-select">Course</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(3)" onmouseout="lineout(3)"><a href="#contact" class="nav-select">Contact</a><span class="nav-line"></span></li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="big-nav {% if color == 'muda' %} muda {% elif color == 'blue'%} blue {% endif %}" id="select">
            {% if color == 'muda' or color == 'blue' %}
            <div class="selection" onclick="tooglebtn1()" >
                <a href="{% url 'polls:index' %}" class="text-white">Home</a>
                <a href="{% url 'polls:mudaKu' %}" class="text-white">About</a>
                <a href="{% url 'matakuliah:index' %}" class="text-white">Course</a> 
                <a href="{% url 'polls:blueKu' %}" class="text-white">Expertise</a>
                <a href="#contact" class="text-white">Contact</a>
            </div>
            {% else %}
            <div class="selection" onclick="tooglebtn1()" >
                <a href="{% url 'polls:index' %}">Home</a>
                <a href="{% url 'polls:mudaKu' %}">About</a>
                <a href="{% url 'matakuliah:index' %}">Course</a> 
                <a href="{% url 'polls:blueKu' %}">Expertise</a>
                <a href="#contact">Contact</a>
            </div>
            {% endif %}
        </div>
        <!-- endsection -->
        {% block content %}

        {% endblock content %}
        <!-- section footer -->
        <section class="footer" id="contact">
      <div class="email">
        <span
          >Email --
          <a
            href="https://mail.google.com/mail/?to=inbox@example.com&bcc=admin@example.com&subject=Hey#compose"
            >bintangdom19@gmail.com</a
          ></span
        >
      </div>
      <div class="socmed">
        <!-- {% static 'foto.jpg' %} -->
        <a href="https://www.linkedin.com/in/bintang-dominique-ba0667196/"
          ><img src="{% static 'img/linkedin.png' %}" alt=""
        /></a>
        <a
          href="https://twitter.com/KendallJenner?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
          ><img src="{% static 'img/twitter.png' %}" alt=""
        /></a>
        <a href="http://line.me/ti/p/markasyours"
          ><img src="{% static 'img/line.png' %}" alt=""
        /></a>
        <a href="https://api.whatsapp.com/send?phone=6282214014078"
          ><img src="{% static 'img/whatsap.png' %} " alt=""
        /></a>
        <a href="https://www.instagram.com/kendalljenner/?hl=en"
          ><img src="{% static 'img/instagram.png' %}" alt=""
        /></a>
      </div>
    </section>
        <!-- endsection -->
</body>

{% block js %} 

{% endblock js %}
<script src="{% static 'style/navbar.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>