<!-- baru ada -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %} ">
    <title>About Me</title>
    <link rel="icon" href="{% static 'img/favicon.png'%}">
    <style>
        .navbar{
            background-color: #6495ED;
        }
    </style>
</head>
<body>
    <!-- navbar section -->
    <div class="navbarku muda" id="navbar">
        <div class="logo"><a href="" class="text-white">Hey You Back.</a></div>
        <div class="mobile-menu-button" id="mobile-menu-button" onclick="tooglebtn1()">
            <span class="white"></span>
            <span class="white"></span>
            <span class="white"></span>
        </div>
        <div class="selection">
            <ul>
                <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="home.html" class="nav-select text-white">Home</a><span class="nav-line white"></span></li>
                <li><a href="" class="nav-select text-white">About Me</a><span class="active white"></span></li>
                <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="#expertise" class="nav-select text-white">Expertise</a><span class="nav-line white"></span></li>
                <li onmouseover="lineover(2)" onmouseout="lineout(2)">
                    <a href="/course" class="nav-select text-white">Course</a
                    ><span class="nav-line"></span>
                  </li>
                <li onmouseover="lineover(2)" onmouseout="lineout(3)"><a href="#contact" class="nav-select text-white">Contact</a><span class="nav-line white"></span></li>
            </ul>
        </div>
    </div>
    <div class="big-nav muda" id="select">
        <div class="selection" onclick="tooglebtn1()" >
            <a href="home.html" class="text-white">Home</a>
            <a href="blueKu.html" class="text-white">About Me</a> 
            <a href="mudaKu.html" class="text-white">Expertise</a>
            <a href="/course" class="nav-select">Course</a>
            <a href="#contact" class="text-white">Contact</a>
        </div>
    </div>
    <!-- endsection -->
    <!-- endsection -->

    <!-- section home -->
    <section class="blue-soon">
        <h1 class="text-white home-tittle">Stay Tune..</h1>
    </section>
    <!-- endsection -->


    <!-- section footer -->
    <section class="footer static" id="contact">
        <div class="email"><span>Email -- <a href="https://mail.google.com/mail/?to=inbox@example.com&bcc=admin@example.com&subject=Hey#compose">bintangdom19@gmail.com</a></span></div>
        <div class="socmed">
            <a href="https://www.linkedin.com/in/bintang-dominique-ba0667196/"
            ><img src="{% static 'img/linkedin.png' %}" alt=""
          /></a>
          <a
            href="https://twitter.com/KendallJenner?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
            ><img src="{% static 'img/twitter.png' %}" alt=""
          /></a>
          <a href="http://line.me/ti/p/markasyours"
            ><img src="{% static 'img/line.png' %}" alt=""
          /></a>
          <a href="https://api.whatsapp.com/send?phone=6282214014078"
            ><img src="{% static 'img/whatsap.png' %} " alt=""
          /></a>
          <a href="https://www.instagram.com/kendalljenner/?hl=en"
            ><img src="{% static 'img/instagram.png' %}" alt=""
          /></a>
        </div>
    </section>
    <!-- endsection -->
</body>
<script src="/style/navbar.js"></script>
<script src="/style/scroll.js"></script>
</html>

