@import "./responsive";

.footer {
  font-family: "Roboto", "San-Serif";
  margin-top: 0.5rem;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  bottom: -20px;
  z-index: 1;
  padding: 0 20px 10px 20px;

  @include responsive(phone) {
    flex-direction: column-reverse;
    justify-content: center;
    position: static;
  }

  .email {
    span {
      @include responsive(phone) {
        font-size: 0.7em;
      }
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
  .socmed {
    display: flex;
    align-items: center;
    img {
      width: 25px;
      margin: 10px;
      @include responsive(phone) {
        width: 17px;
        margin-bottom: 0;
      }
    }
  }
}
