@import "./responsive";

.courses{
    display: flex;
    flex-direction: column;
    padding: 2em 8em;
    width: calc(100vw - 16em);
    @include responsive(tabPort){
      padding: 1em 4em;
      width: calc(100vw - 8em);
    }
    .card{
        margin: 1em 0;
    }
}
body{
  align-items: center;
}

.course-show{
    @extend .courses;
    .tittle{
        span{
            font-weight: 900;
            font-size: 6em;
            @include responsive(phone){
                font-size: 3em;
            }
        }
    }
    .paragraph{
        width: 100%;
        margin: 1em 0;
        font-size: 1.5em;
        @include responsive(phone){
            font-size: 1.2em;
        }
    }
}

.scroll-up{
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    left: 2%;
    bottom: 7%;
    transform: rotate(90deg);
    cursor: pointer;
    &.active{
      .arrow{
        transform: rotate(0deg);
        cursor: pointer;
      }
    }
    .arrow{
      width: 40px;
      height: 40px;
      transform-origin: 25% 25%;
      transform: rotate(0deg);
      transition: .5s ease;
      transform: rotate(180deg);
      @include responsive(phone){
        width: 30px;
        height: 30px;
      }
      span{
          position: absolute;
          left: 0;
          display: block;
          opacity: 1;
          height: 2px;
          border-radius: calc( 2px / 2);
          background: black;
          transition: 1s ease;
          transform: rotate(0deg);
          &:nth-child(1) {
            width: 50%;
              top: 0;
              transform-origin: left center;
              transform: rotate(-45deg);
            }
        
            &:nth-child(2) {
              width: 50%;
              top: 0;
              left: 7px;
              transform-origin: right center;
              transform: rotate(45deg);
              @include responsive(phone){
                left: 5.5px;
              }
            }
            &:nth-child(3) {
              width: 80%;
              top: 4px;
              left: -2.5px;
              transform-origin: center;
              transform: rotate(90deg);
              @include responsive(phone){
                top: 2px;
                left: -1.5px;
              }
            }
      }
    }
}

.delete-btn{
    display: inline;
}

.form-model{
  @extend .courses;
  @include responsive(phone){
    padding: 1em;
    width: calc(100vw - 3.7em);
  }
}

.xlSize{
  height: 67vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}