@mixin responsive($device) {
  @if $device == phone {
    @media only screen and (max-width: 750px) {
      @content;
    }
  }
  @if $device == tabPort {
    @media only screen and (max-width: 1100px) {
      @content;
    }
  }
  @if $device == tabLan {
    @media only screen and (max-width: 1400px) {
      @content;
    }
  }
  @if $device == bigDesk {
    @media only screen and (min-width: 1800px) {
      @content;
    }
  }
}
