.courses, .course-show, .form-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 8em;
  width: calc(100vw - 16em);
}

@media only screen and (max-width: 1100px) {
  .courses, .course-show, .form-model {
    padding: 1em 4em;
    width: calc(100vw - 8em);
  }
}

.courses .card, .course-show .card, .form-model .card {
  margin: 1em 0;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-show .tittle span {
  font-weight: 900;
  font-size: 6em;
}

@media only screen and (max-width: 750px) {
  .course-show .tittle span {
    font-size: 3em;
  }
}

.course-show .paragraph {
  width: 100%;
  margin: 1em 0;
  font-size: 1.5em;
}

@media only screen and (max-width: 750px) {
  .course-show .paragraph {
    font-size: 1.2em;
  }
}

.scroll-up {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  left: 2%;
  bottom: 7%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.scroll-up.active .arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
}

.scroll-up .arrow {
  width: 40px;
  height: 40px;
  -webkit-transform-origin: 25% 25%;
          transform-origin: 25% 25%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (max-width: 750px) {
  .scroll-up .arrow {
    width: 30px;
    height: 30px;
  }
}

.scroll-up .arrow span {
  position: absolute;
  left: 0;
  display: block;
  opacity: 1;
  height: 2px;
  border-radius: calc( 2px / 2);
  background: black;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.scroll-up .arrow span:nth-child(1) {
  width: 50%;
  top: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.scroll-up .arrow span:nth-child(2) {
  width: 50%;
  top: 0;
  left: 7px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media only screen and (max-width: 750px) {
  .scroll-up .arrow span:nth-child(2) {
    left: 5.5px;
  }
}

.scroll-up .arrow span:nth-child(3) {
  width: 80%;
  top: 4px;
  left: -2.5px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media only screen and (max-width: 750px) {
  .scroll-up .arrow span:nth-child(3) {
    top: 2px;
    left: -1.5px;
  }
}

.delete-btn {
  display: inline;
}

@media only screen and (max-width: 750px) {
  .form-model {
    padding: 1em;
    width: calc(100vw - 3.7em);
  }
}

.xlSize {
  height: 67vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=course.css.map */