.timeContainer {
  width: 100vw;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeContainer span {
  font-size: 6em;
}

@media only screen and (max-width: 750px) {
  .timeContainer span {
    font-size: 1.8em;
  }
}
/*# sourceMappingURL=time.css.map */