* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: palegoldenrod;
  font-family: sans-serif;
}
.profile-img {
  width: 40%;
  float: right;
}
.profile-img img {
  width: 100%;
  height: 100%;
}
.about {
  margin-left: 15px;
}
.profile-info {
  width: 60%;
  height: 100vh;
  float: left;
  padding: 0 30px;
}
.profile-info h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.social-media img {
  height: 30px;
  margin-right: 15px;
}
.social-media {
  margin-top: 20px;
  margin-left: 15px;
}
.profile-info h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}
.deskripsi img {
  height: 5%;
  margin: 5px;
}
.deskripsi {
  display: inline-block;
  width: 28%;
  padding: 30px 10px;
  margin: 2%;
  text-align: center;
  box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.18);
  background: #fff;
}
.deskripsi small {
  padding-top: 10px;
  display: block;
}
.belajar img {
  width: 31%;
  padding: 4px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.form-box {
  margin-top: 30px;
}
.input-group input {
  width: 45%;
  border: 0;
  outline: none !important;
  padding: 10px;
  margin: 2%;
  display: inline-block;
  background: #fff;
}
.text-area textarea {
  width: 95%;
  border: 0;
  outline: none !important;
  padding: 10px;
  margin: 2%;
  background: #fff;
}
.submit-btn {
  border: 0;
  outline: none !important;
  padding: 10px 20px;
  margin: 2%;
  background: #2ab0ff;
  cursor: pointer;
  color: #efefef;
}
