{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Bintang Portofolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
  </head>
  
  </head>
  <body>
    <div class="profile-img">
      <img src="{% static 'images/foto.jpg'%}" />
    </div>

    <div class="profile-info">
      <h1>Bintang Dominique</h1>
      <p class="about">
        <p>Hello world! Nama saya <b>Bintang Dominique</b> dari Ilmu Komputer 2019
        Universitas Indonesia. Saya biasa dipanggil Bintang. 
        <p> <b>NPM:</b> 1906292963.</p>
        <p> <b>Tempat,tanggal lahir :</b> Jakarta 19 November 2001</p>
        <p> <b>Alamat:</b> Taman Alfa Indah, Jakarta Barat</p>
        <p> <b>Telefon:</b> 082214014078</p>
        <p> <b>Email:</b> bintang.dominique@ui.ac.id</p>
        <p> <b>Hobi:</b> Travelling dan Olahraga</p>
        <p>Sedikit tentang saya, saya adalah anak yang senang bergaul dan berkomunikasi 
        dengan orang banyak.Saya memulai pendidikan saya dari taman kanak kanak. 
        <p>Saya memiliki akun line:@markasyours</p>
        <p>Saya tidak memiliki instagram.</p>
      
      <div class="social-media">
        <a href="https://www.instagram.com/kendalljenner/?hl=ens">
        <img src="{% static 'img/instagram.png'%}" /></a>
        <a href="http://line.me/ti/p/~markasyours">
        <img src="{% static 'img/line.png'%}" /></a>
      </div>

      <h2>Deskripsi singkat</h2>
      <div class="deskripsi">
         <!-- <img src="{% static 'img/monas.jpg'%}" />  -->
        <p><b>Tempat Kelahiranku</b></p>
        <small> Aku lahir di Jakarta dan sekarang tinggal di Jakarta. </small>
      </div>
      <div class="deskripsi">
         <!-- <img src="{% static 'img/ui.jpg'%}" />  -->
        <p><b>Universitas Ku</b></p>
        <small>
          Aku sekarang sedang menimba ilmu di Universitas Indonesia.
        </small>
      </div>
      <div class="deskripsi">
        <!-- <img src="{% static 'img/nasgor.jpg'%}" />  -->
        <p><b>Makanan Kesukaanku</b></p>
        <small>
          Aku sangat suka dengan makanan Indonesia terutama Nasi Goreng.
        </small>
      </div>
      <h2>Riwayat Pendidikan</h2>
      <p> SD Regina Pacis (2007-2013)</p>
      <p> SMP Regina Pacis (2013-2016)</p>
      <p> SMAN 63 Jakarta (2016-2019)</p>
      <p> Universitas Indonesia (2019-present)</p>
      <div class="belajar">
        <img src="{% static 'img/tka.jpg'%}" />
        <img src="{% static 'img/tk.jpg'%}" />
        <img src="{% static 'img/smp.jpg'%}" />
        <img src="{% static 'img/sma.jpg'%}" />
        <img src="{% static 'img/ui.jpg'%}" />
        <img src="{% static 'img/sd.jpg'%}" />
      </div>
      <div class="form-box">
        <h2>Hubungi Saya</h2>
        <form>
          <div class="input-group">
            <input type="text" placeholder="Nama Depan">
            <input type="text" placeholder="Nama Belakang">
          </div>
          <div class="input-group">
            <input type="number" placeholder="Telefon">
            <input type="email" placeholder="Email">
          </div>
          <div class="text-area">
            <textarea rows="4" placeholder="Pesan anda"></textarea>
          </div>
          <button type="submit" class="submit-btn">KIRIM PESAN</button>
        </form>
      </div>
    </div>
  </body>
</html>
