{% extends 'layout.html' %}
{% load static %}

{% block tittle %} Comming Soon {% endblock tittle %}
{% block content %} 
    <!-- section home -->
    <section class="muda-Ku blue">
        <h1 class="text-white home-tittle">Stay Tune..</h1>
    </section>
    <!-- endsection -->
{% endblock content %}
