{% extends 'layout.html' %}
{% load static %}

{% block tittle %} Home Page {% endblock tittle %}

{% block content %}
    <!-- background 1 -->
    <section class="background1">
        <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
      <span>STARDOM</span>
    </section>
    <!-- endsection -->
    <!-- section home -->
    <section class="home-greeting">
         <h1>BINTANG DOMINIQUE TJOKRO.</h1>
    </section>
    <!-- endsection -->
    <!-- section about-->
    <section class="about" id="about">
        <div class="gambar">
            <span>ABOUT ME.</span>
        </div>
        <div class="paragraph">
            <div class="background2">
                <span>HEYY.</span>
            </div>
            <p>  Haloo semuaa!! Kenalin nama aku Bintang Dominique. Aku biasa dipanggil
          Bintang. Aku sekarang sedang berkuliah di salah satu universitas
          terbaik di Indonesia. Aku berkuliah di Universitas Indonesia. Disini
          aku banyak belajar. Mulai dari pelajaran kehidupan sampai ke
          pendidikan. Yuk ikuti kisah aku disini. </p>
            <div class="background2">
                <span>HEYY.</span>
            </div>
        </div>
        <div class="link" onclick="location.href='./blueKu.html'">
            <span>MORE</span>
            <div class="arrow">
                <span></span>
                <span></span>
            </div>
        </div>
    </section>
    <!-- endsection -->
    <!-- section project -->
    <section class="expertise" id="expertise">
      <div class="header">EXPERTISE.</div>
     <div class="gallery">
        <div class="item" data-toggle="modal" data-target="#communication">
          COMMUNICATION
        </div>
        <div class="item" data-toggle="modal" data-target="#public">
          PUBLIC SPEAKING
        </div>
        <div class="item" data-toggle="modal" data-target="#teamwork">
          TEAMWORK
        </div>
        <div class="item" data-toggle="modal" data-target="#teamwork">
          TEAMWORK
        </div>
        <div class="item" data-toggle="modal" data-target="#teamwork">
          TEAMWORK
        </div>
        <div class="item" data-toggle="modal" data-target="#teamwork">
          TEAMWORK
        </div>
      </div>
      
      <div class="link" onclick="location.href='mudaKu.html'">
        <span>MORE</span>
        <div class="arrow">
          <span></span>
          <span></span> 
        </div>
      </div>
    </section>
    <!-- endsection -->
    <!-- Carosel Section -->
    <div class="pop-up">
         <div
        class="modal fade"
        id="communication"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">This is me</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'img/Screenshots/komunikasi.png' %}" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'img/Screenshots/komunikasi2.png' %}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'img/Screenshots/komunikasi3.png' %}" alt="Third slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="bismit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">This is me</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                   <div class="modal-body">
              <div
                id="publiccarousel"
                class="carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li
                    data-target="#publiccarousel"
                    data-slide-to="0"
                    class="active"
                  ></li>
                  <li data-target="#publiccarousel" data-slide-to="1"></li>
                  <li data-target="#publiccarousel" data-slide-to="2"></li>
                </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'img/Screenshots/public1.jpg' %}" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'img/Screenshots/public2.jpg' %}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'img/Screenshots/public3.jpg' %}" alt="Third slide">
                              </div>
                            </div>
                           <a
                  class="carousel-control-prev"
                  href="#publiccarousel"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#publiccarousel"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="comingsoon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">This is me</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                     <div class="modal-body">
              <div
                id="teamworkcarousel"
                class="carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li
                    data-target="#teamworkcarousel"
                    data-slide-to="0"
                    class="active"
                  ></li>
                  <li data-target="#teamworkcarousel" data-slide-to="1"></li>
                </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'img/Screenshots/tw1.png' %}" alt="First slide">
                              </div>
                              <div class="carousel-item ">
                                <img class="d-block w-100" src="{% static 'img/Screenshots/tw2.png' %}" alt="Second slide">
                              </div>
                            </div>
                           <a
                  class="carousel-control-prev"
                  href="#teamworkcarousel"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#teamworkcarousel"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
{% endblock content %}