{% extends 'layout.html' %}
{% load static %}

{% block tittle %} ComingSoon {% endblock tittle %}
{% block content %}
    <!-- section home -->
    <section class="muda-Ku">
        <h1 class="text-white home-tittle">Stay Tune..</h1>
    </section>
    <!-- endsection -->
{% endblock content %}
