.navbarku {
  font-family: "Roboto", "San-Serif";
  padding: 1.5% 1.5% 1.5% 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: calc(100% - 3%);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: black;
  text-decoration: none;
}

.navbarku .logo a {
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 600;
}

.navbarku .selection li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px;
  height: 100%;
  font-size: 1.2em;
}

.navbarku .selection li a {
  position: relative;
  color: inherit;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  text-decoration: inherit;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  font-weight: 400;
}

.navbarku .selection li span {
  position: relative;
  top: -11.5px;
  height: 2px;
  width: 0;
  background-color: #bbe1fa;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.navbarku .selection li span.active {
  width: 125%;
  background-color: #0f4c75;
}

@media only screen and (max-width: 750px) {
  .navbarku .selection {
    display: none;
  }
}

.navbarku.active {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 750px) {
  .navbarku {
    width: calc(100% - 12%);
    padding: 6% 6% 6% 6%;
  }
}

.mobile-menu-button {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}

.mobile-menu-button span {
  position: absolute;
  left: 0;
  display: block;
  opacity: 1;
  width: 100%;
  height: 3px;
  border-radius: calc(3px / 2);
  background: #000;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

.mobile-menu-button span:nth-child(1) {
  top: 0;
}

.mobile-menu-button span:nth-child(2) {
  top: calc(50% - 3px / 2);
}

.mobile-menu-button span:nth-child(3) {
  bottom: 0;
}

.mobile-menu-button.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -2.1066px;
  left: 4.3934px;
}

.mobile-menu-button.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.mobile-menu-button.active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -2.1066px;
  left: 4.3934px;
}

@media only screen and (max-width: 750px) {
  .mobile-menu-button {
    display: block;
  }
}

.big-nav {
  font-family: "Roboto", "San-Serif";
  position: fixed;
  display: none;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: white;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 0;
  pointer-events: none;
}

.big-nav .selection {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.big-nav .selection a {
  text-decoration: none;
  color: black;
  margin: 30px;
}

.big-nav.active {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: all;
}

@media only screen and (max-width: 750px) {
  .big-nav {
    display: block;
  }
}

.footer {
  font-family: "Roboto", "San-Serif";
  margin-top: 0.5rem;
  width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  bottom: -20px;
  z-index: 1;
  padding: 0 20px 10px 20px;
}

@media only screen and (max-width: 750px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: static;
  }
}

@media only screen and (max-width: 750px) {
  .footer .email span {
    font-size: 0.7em;
  }
}

.footer .email span a {
  color: black;
  text-decoration: none;
}

.footer .socmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .socmed img {
  width: 25px;
  margin: 10px;
}

@media only screen and (max-width: 750px) {
  .footer .socmed img {
    width: 17px;
    margin-bottom: 0;
  }
}

* {
  -webkit-box-sizing: unset !important;
  box-sizing: unset !important;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.active {
  overflow-y: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  position: relative;
  line-height: normal !important;
}

.home-greeting {
  height: 75vh;
  width: 50%;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1100px) {
  .home-greeting {
    width: calc(100% - 2rem);
  }
}

.home-greeting h1 {
  z-index: 1;
  font-weight: 900;
  font-size: 5em;
}

@media only screen and (max-width: 1100px) {
  .home-greeting h1 {
    font-size: 4.3em;
  }
}

@media only screen and (max-width: 750px) {
  .home-greeting h1 {
    font-size: 2.5em;
  }
}

.background1 {
  position: absolute;
  -webkit-transform: rotate(-27deg);
  transform: rotate(-27deg);
  top: 43vh;
  left: 24%;
  font-size: 7em;
}

@media only screen and (max-width: 1400px) {
  .background1 {
    top: 55vh;
    left: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@media only screen and (max-width: 750px) {
  .background1 {
    font-size: 5em;
  }
}

.background1 span {
  display: block;
  margin-top: -45px;
  font-weight: bold;
}

.background1 span:nth-child(odd) {
  color: #6a5acd;
}

.background1 span:nth-child(even) {
  color: #6495ed;
}

.about {
  width: 100%;
  background-color: #6a5acd;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3rem 0 3rem 0;
}

@media only screen and (max-width: 750px) {
  .about {
    padding-bottom: 0;
  }
}

.about .gambar {
  margin: 0 0 5rem 2rem;
  width: 80%;
  height: 35vh;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(166, 166, 168, 0.192)),
      to(rgba(166, 166, 168, 0.288))
    ),
    url("../img/photo1.589e9fe6bba6.jpg");
  background: linear-gradient(
      0deg,
      rgba(166, 166, 168, 0.192),
      rgba(166, 166, 168, 0.288)
    ),
    url("../img/photo1.589e9fe6bba6.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media only screen and (max-width: 1100px) {
  .about .gambar {
    width: 100%;
    margin: 0 0 3rem 0;
  }
}

@media only screen and (max-width: 750px) {
  .about .gambar {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.about .gambar span {
  position: relative;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  font-size: 6em;
  font-weight: bold;
}

@media only screen and (max-width: 1100px) {
  .about .gambar span {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    color: white;
    font-size: 4.2em;
  }
}

@media only screen and (max-width: 750px) {
  .about .gambar span {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.about .paragraph {
  margin: 0 2rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2rem;
  padding: 2rem 2rem 2rem 2rem;
  width: calc(80% - 4rem);
  background-color: white;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@media only screen and (max-width: 1100px) {
  .about .paragraph {
    width: calc(100% - 4rem);
    margin: 0;
  }
}

.about .paragraph .background2 {
  font-size: 6.8em;
  font-weight: 900;
  position: relative;
}

.about .paragraph .background2:nth-child(1) {
  bottom: -20%;
  left: -10%;
}

.about .paragraph .background2:nth-child(3) {
  top: -165px;
  right: 30%;
}

@media only screen and (max-width: 1400px) {
  .about .paragraph .background2:nth-child(3) {
    right: 40%;
  }
}

@media only screen and (max-width: 1100px) {
  .about .paragraph .background2 {
    display: none;
  }
}

.about .paragraph .background2 span {
  display: block;
  position: absolute;
}

.about .paragraph .background2 span:nth-child(1) {
  -webkit-transform: translate(5px, -8px);
  transform: translate(5px, -8px);
  -webkit-text-fill-color: #6495ed;
}

.about .paragraph p {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 750px) {
  .about .paragraph p {
    font-size: 0.9em;
  }
}

.about .link {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 2rem;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 0.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .about .link {
    margin: 0.5rem 1rem 1rem 0;
    font-size: 1em;
  }
}

.expertise {
  width: 100%;
  background-color: #6495ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.expertise .header {
  font-size: 5em;
  font-weight: 900;
}

@media only screen and (max-width: 1100px) {
  .expertise .header {
    font-size: 3em;
  }
}

@media only screen and (max-width: 750px) {
  .expertise .header {
    font-size: 2em;
  }
}

.expertise .gallery .item {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 7em;
  font-weight: 900;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .expertise .gallery .item {
    font-size: 4em;
  }
}

@media only screen and (max-width: 750px) {
  .expertise .gallery .item {
    font-size: 2.1em;
  }
}

.expertise .link {
  position: absolute;
  right: 30px;
  bottom: 50px;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 0.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .expertise .link {
    position: static;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0.5rem 1rem 1rem 0;
    font-size: 1em;
  }
}

.blue-soon {
  width: 100vw;
  height: 80vh;
  background-color: #6a5acd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.muda-Ku {
  width: 100vw;
  height: 80vh;
  background-color: #6495ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.text-white {
  color: white !important;
}

.white {
  background-color: white !important;
}

.static {
  position: static !important;
}

.muda {
  background-color: #6495ed !important;
}

.blue {
  background-color: #6a5acd !important;
}

.text-muda {
  color: #6495ed !important;
}

.text-blue {
  color: #6a5acd !important;
}

.home-tittle {
  font-size: 7em !important;
}

@media only screen and (max-width: 1100px) {
  .home-tittle {
    font-size: 4em !important;
  }
}

@media only screen and (max-width: 750px) {
  .home-tittle {
    font-size: 2.3em !important;
  }
}

/* .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 750px !important;
    margin: 0;
  } */
}
/*# sourceMappingURL=style.css.map */
