{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/course.css' %}">
{% endblock css %}

{% block tittle %} Courses {% endblock tittle %}

{% block content %}
<div class="form-model">
    {% load crispy_forms_tags %}
    <form action="" method="post" class="">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}