{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/course.css' %}">
{% endblock css %}

{% block tittle %} Courses {% endblock tittle %}

{% block content %}
<div class="courses">
    <div class="header"><h1>Courses</h1></div>
    {% if matakuliah is not none %}
        <div class="table">
            {% for i in matakuliah %}
            <div class="card">
                <h5 class="card-header">{{ i.namaMatkul }}</h5>
                <div class="card-body">
                <h5 class="card-title">Jumlah SKS = {{i.jumlahSKS}}</h5>
                <p class="card-text">{{i.snippet}}</p>
                <a href="{% url 'matakuliah:show' order=i.order %}" class="btn btn-primary">Detail</a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <h1>Courses Not Exist</h1>
    {% endif %}
</div>
    
{% endblock content %}