{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/course.css' %}">
{% endblock css %}

{% block tittle %} Courses {% endblock tittle %}

{% block content %}
<div class="course-show">
    <div class="tittle"><span>{{matakuliah.namaMatkul}}</span></div>
    <span class="sks"> Jumlah SKS : {{matakuliah.jumlahSKS}}</span>
    <span> Nama Dosen : {{matakuliah.dosen}}</span>
    <span> <b>Waktu : {{matakuliah.waktu}}</b></span>
    <div class="paragraph">
        <p>{{matakuliah.deskripsiMatkul}}</p>
    </div>
</div>
<div class="scroll-up" onclick="location.href='{% url 'matakuliah:indexAdmin' %}'">
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
{% endblock content %}